@font-face {
    font-family: "Precious"; 
    src: url("../assets/fonts/Precious.woff2"); 
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: "faradila"; 
    src: url("../assets/fonts/faradila.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
} */